*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 2000px;
    height: 3000px;
    margin: auto;
}

.item{
    display: inline-block;
    position: relative;
}

.images{
    width: 640px;
    height: 924px;
}

img{
    width: 100%;
}

.img2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.item > .description{
    padding-top: 10px;
    padding-bottom: 10px;
}

.preferiti{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: white;
    text-align: center;
    position: absolute;
    right: 0;
    top: 30px;
}

.sconto, .sostenibilita{
    display: inline-block;
    text-align: center;
    padding: 2px;
} 

.extra{
    position: absolute;
    left: 0;
    bottom: 100px;
}

.sconto{
    width: 40px;
    color: white;
    background-color: red;
}

.sostenibilita{
    width: 100px;
    color: white;
    background-color: green;
}

.new-price{
    color: red;
    padding-right: 5px;
}

.old-price{
    text-decoration: line-through;
}

.images:hover .img2{
    visibility: hidden;
}
